body  {


}


button,
#btn-artista/*Boton para redigir a la ventana que muestra los artistas*/
    {

    width: 10%;
    background-color: #1e4705;
    border-radius: 24px;
    border-color: white;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out; /* Aplica una animación suave al botón */

}


button:hover,
#btn-artista:hover{

    background-color: #1e4705;
    cursor: pointer;
    color: #000000;
    transform: scale(1.1);


}


input, select {

    height: 20px;
    padding-left: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 15px;
    transition: all 0.3s ease-in-out; /* Aplica una animación suave al botón */

}



input:hover,
select:hover{

    cursor: pointer;
    transform: scale(1.1);
}

#registro{

    margin-left: 5px;
    height: 54px;
}

/*Boton para redigir a la ventana que muestra los artistas*/
#btn-artista{

    /*width: 130%;*/
    margin-left: 15px;
    height: 54px;
    display: flex;
    justify-content: center;  /* Para centrar horizontalmente los elementos (el texto) */
    align-items: center;      /* Y este para centrar verticalmente los elementos */

}

/*Boton para regresar a la inicio*/
#volver{
    /*width: 130%;*/
    margin-left: 10px;
    height: 54px;
    display: flex;
    justify-content: center;  /* Para centrar horizontalmente los elementos (el texto) */
    align-items: center;      /* Y este para centrar verticalmente los elementos */

}

.botones {
    display: flex;
    align-items: center; /* Alinea verticalmente los botones */
    margin-top: 20px;
}