body{

    background-image: url('/Images/Fondo_Home_Music_project.png');
    background-size: cover;         /* Ajusta la imagen al tamaño de la pantalla */
    background-repeat: no-repeat;   /* No repite la imagen */
    color: white;
}

/* Todo el tema del los titulos principales */
#titulo{


    font-size: 500%;

}

#creador{

    font-size: 200%;

}

#headphones{

    width: 50px;
    height: auto;

}


#by-juancho{

    position: absolute;
    bottom: 80px;
    display: flex;
    align-items: center;  /* Centra verticalmente la imagen y el texto */
    gap: 10px;            /* Espacio entre la imagen y el h2 */
    position: relative;   /* Ya no necesitas absolute/margin-left excesivo */
    margin: 20px;         /* Puedes ajustar según quieras posicionarlo */
}

.titulos-principal{

    position: absolute;
    left: 57%;
}



/* Empezamos con la configuración de los botones */

.botones-up{

    display: flex;
    gap: 79%; /* Espacio horizontal entre botones */
    position: absolute;
    left: 65%;
    top: 22%;

}

.botones-down{

    display: flex;
    gap: 72%; /* Espacio horizontal entre botones */
    position: absolute;
    left: 64%;
    top: 45%;

}

.boton-con-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 35px;
    width: 150px; /* Fuerza igual ancho */
    transition: all 0.3s ease-in-out;

}

/* configuración general de los botones */
button{

    height: 100px;
    width: 100px;
    background-color: #000000;
    border-radius: 10px;
    border-color: white;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out; /* Aplica una animación suave al botón */
}

label{

    transition: all 0.3s ease-in-out; /* Aplica una animación suave al botón */

}


button:hover,
label:hover,
.boton-con-label:hover{

    cursor: pointer;
    transform: scale(1.1);

}

/* Configuración botón artista */
#artist-button{

    background-image: url("/Images/cantando.png"); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen al botón */
    background-repeat: no-repeat;
    background-position: center;

}

/* Configuración botón disquera */
#disquera-button{

    background-image: url("/Images/reproductor-de-vinilo.png"); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen al botón */
    background-repeat: no-repeat;
    background-position: center;

}


/* Configuración botón canciones */
#cancion-button{

    background-image: url("/Images/music.png"); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen al botón */
    background-repeat: no-repeat;
    background-position: center;

}




/* Configuración botón fanaticos */
#fan-button{

    background-image: url("/Images/engagement.png"); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen al botón */
    background-repeat: no-repeat;
    background-position: center;

}


.linea-naranja {
    width: 715px;
    height: 4px;
    background-color: #ee9851;
    margin-top: 5px;
    border-radius: 2px;
    position: absolute;
    left: 62%;
    bottom: 36%;
}

.texto-inferior {

    font-size: 18px;
    color: white;
    text-align: justify; /* Esto alinea ambos lados */
    position: absolute;
    left: 62%;
    bottom: 25%;
}

/*Configuración del responsive*/
@media screen and (max-width:1600px ) {
    body{
        background-image: url('/Images/Fondo_Home_Music_project.png');
        background-size: cover;         /* Ajusta la imagen al tamaño de la pantalla */
        background-repeat: no-repeat;   /* No repite la imagen */
        color: white;
    }

    #by-juancho{
        position: absolute;
        bottom: 62px;
        display: flex;
        align-items: center;  /* Centra verticalmente la imagen y el texto */
        gap: 10px;            /* Espacio entre la imagen y el h2 */
        position: relative;   /* Ya no necesitas absolute/margin-left excesivo */
        margin: 20px;         /* Puedes ajustar según quieras posicionarlo */
    }


    #titulo{
        font-size: 400%;
    }

    #creador{
        font-size: 150%;
    }

    #headphones{
        width: 45px;
        height: auto;
    }

    .titulos-principal{
        position: absolute;
        left: 54%;
    }

    .botones-up{

        display: flex;
        gap: 67%; /* Espacio horizontal entre botones */
        position: absolute;
        left: 59%;
        top: 22%;
    }

    .botones-down{

        display: flex;
        gap: 60%; /* Espacio horizontal entre botones */
        position: absolute;
        left: 58%;
        top: 45%;
    }

    /* configuración general de los botones */
    button{
        height: 85px;
        width: 85px;
        background-color: #000000;
        border-radius: 10px;
        border-color: white;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: bold;
        transition: all 0.3s ease-in-out; /* Aplica una animación suave al botón */
    }

    .linea-naranja {
        width: 715px;
        height: 4px;
        background-color: #ee9851;
        margin-top: 5px;
        border-radius: 2px;
        position: absolute;
        left: 57%;
        bottom: 36%;
    }

    .texto-inferior {
        font-size: 15px;
        color: white;
        text-align: justify; /* Esto alinea ambos lados */
        position: absolute;
        left: 57%;
        bottom: 26%;
    }

}




@media screen and (max-width:1080px ) {

    body{

        background-image: url('/Images/Fondo_Home_Music_project.png');
        background-size: 100%;         /* Ajusta la imagen al tamaño de la pantalla */
        background-repeat: no-repeat;   /* No repite la imagen */
        color: white;
    }

    #by-juancho{
        position: absolute;
        bottom: 45px;
        display: flex;
        align-items: center;  /* Centra verticalmente la imagen y el texto */
        gap: 20px;            /* Espacio entre la imagen y el h2 */
        position: relative;   /* Ya no necesitas absolute/margin-left excesivo */
        margin: 20px;         /* Puedes ajustar según quieras posicionarlo */
    }


    #titulo{
        font-size: 280%;
    }

    #creador{
        font-size: 130%;
    }

    #headphones{
        width: 35px;
        height: auto;
    }

    .titulos-principal{
        position: absolute;
        left: 54%;
    }

    .botones-up{

        display: flex;
        gap: 17%; /* Espacio horizontal entre botones */
        position: absolute;
        left: 59%;
        top: 22%;
    }

    .botones-down{

        display: flex;
        gap: 11%; /* Espacio horizontal entre botones */
        position: absolute;
        left: 58%;
        top: 45%;
    }

    /* configuración general de los botones */
    button{
        height: 65px;
        width: 65px;
        background-color: #000000;
        border-radius: 10px;
        border-color: white;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: bold;
        transition: all 0.3s ease-in-out; /* Aplica una animación suave al botón */
    }

    .linea-naranja {
        width: 715px;
        height: 4px;
        background-color: #ee9851;
        margin-top: 5px;
        border-radius: 2px;
        position: absolute;
        left: 57%;
        bottom: 36%;
    }

    .texto-inferior {
        font-size: 12px;
        color: white;
        text-align: justify; /* Esto alinea ambos lados */
        position: absolute;
        left: 58%;
        bottom: 24%;
    }


}