body  {
    background-color: #000000;
    color: white;
}


#music-project{

    position: absolute;
    top: 10%;
    display: flex;
    align-items: center;  /* Centra verticalmente la imagen y el texto */
    gap: 10px;            /* Espacio entre la imagen y el h2 */
    position: relative;   /* Ya no necesitas absolute/margin-left excesivo */
    margin: 20px;         /* Puedes ajustar según quieras posicionarlo */
}

#creador{

    font-size: 150%;

}

#headphones{

    width: 2.5%;
    height: auto;

}


#main-tittle{

    font-size: 70px;
    text-align: center;
    position: absolute;
    margin-left: 28%;
    top: 3%;

}
/* Configuración de estilo de los botones */

#registro{
    width: 12%;
    background-color: #bac8d3;
    border-radius: 24px;
    color: #666464;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out; /* Aplica una animación suave al botón */
    margin-left: 5px;
    height: 54px;
}

#registro:hover{

    transform: scale(1.05);
    cursor: pointer;
    color: black;

}

/* Configuración botón para ver los artistas */
#btn-artista {
    display: flex;                        /* Permite alinear contenido interno */
    justify-content: center;             /* Centra horizontalmente */
    align-items: center;                 /* Centra verticalmente */

    width: 120px;
    height: 20px;

    background-color: #000000;
    border-radius: 10px;
    border: 2px solid white;

    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

    background-image: url("/Images/singer.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: all 0.3s ease-in-out;
}

.boton-ver-artistas{

    display: flex;
    position: absolute;
    left: 84%;
    top: 5%;
}

/* Configuración botón para agregar un fanatico */
#btn-fanatico {
    display: flex;                        /* Permite alinear contenido interno */
    justify-content: center;             /* Centra horizontalmente */
    align-items: center;                 /* Centra verticalmente */

    width: 120px;
    height: 20px;

    background-color: #000000;
    border-radius: 10px;
    border: 2px solid white;

    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

    background-image: url("/Images/concert.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: all 0.3s ease-in-out;
}


.boton-ver-fanaticos
{

    display: flex;
    position: absolute;
    left: 76%;
    top: 5%;
}

#btn-artista:hover,
#btn-fanatico:hover{

    cursor: pointer;
    transform: scale(1.1);

}


/* Configuración de estilo de los input y los select */
input {
    height: 20px;
    padding-left: 20px;
    border: 3px solid #ffffff;
    background-color: #a7a8aa;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.3s ease-in-out; /* Aplica una animación suave al botón */

}


select{
    height: 25px;
    padding-left: 20px;
    border: 3px solid #ffffff;
    background-color: #a7a8aa;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.3s ease-in-out; /* Aplica una animación suave al botón */
}

input:hover,
select:hover{

    cursor: pointer;
    transform: scale(1.1);
}

label{
    font-size: 20px;
}


/* Todo el diseño para el formulario del artista (lado izquierdo) */
.div-artista{

    width: 20%;
    position: absolute;
    margin-left: 11%;
    top: 25%;

}

#artista-tittle{

    font-size: 40px;
    text-align: center;
    position: absolute;
    margin-left: 10%;
    top: 15%;
}

.artist-input-label{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

/* Icono del medio entre los dos formularios */
#music-contract{

    position: absolute;
    margin-left: 37%;
    top: 20%;
    opacity: 0.2; /* 0 = completamente transparente, 1 = completamente opaco */

}

/* Todo el diseño para el formulario de la disquera (lado derecho) */
.div-disquera{

    width: 20%;
    position: absolute;
    margin-left: 70%;
    top: 25.3%;

}

/* Esto es para centrar el titulo "Datos de la disquera" en el medio */
#disquera-tittle{
    font-size: 40px;
    text-align: center;
    position: absolute;
    margin-left: 68%;
    top: 15%;

}


.input-con-label {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

/*Boton para redigir a la ventana que muestra los artistas*/
#btn-artista{

    margin-left: 15px;
    height: 54px;
    display: flex;
    justify-content: center;  /* Para centrar horizontalmente los elementos (el texto) */
    align-items: center;      /* Y este para centrar verticalmente los elementos */

}

#btn-fanatico{

    margin-left: 15px;
    height: 54px;
    display: flex;
    justify-content: center;  /* Para centrar horizontalmente los elementos (el texto) */
    align-items: center;      /* Y este para centrar verticalmente los elementos */

}

.boton-registro {
    width: 60%;
    display: flex;
    align-items: center; /* Alinea verticalmente los botones */
    margin-top: 20px;
    position: absolute;
    margin-left: 45%;
    bottom: 20%;
}