body  {


}


button {

    width: 10%;
    background-color: #1e4705;
    border-radius: 24px;
    border-color: white;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out; /* Aplica una animación suave al botón */

}

button:hover{

    background-color: #1e4705;
    cursor: pointer;
    color: #000000;
    transform: scale(1.1);


}


input, select {

    height: 20px;
    padding-left: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 15px;
    transition: all 0.3s ease-in-out; /* Aplica una animación suave al botón */

}



input:hover,
select:hover{

    cursor: pointer;
    transform: scale(1.1);
}

#registro{

    margin-left: 5px;
    height: 54px;
}

#btn-artista{

    margin-left: 15px;

}

.botones {
    display: flex;
    align-items: center; /* Alinea verticalmente los botones */
    margin-top: 20px;
}