@charset "UTF-8";

body {
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;

}


table {
    font-family: arial, sans-serif;
    color: white;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #3d3a3a;
}

button {
    background-color: #1e4705;
    border-radius: 24px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid white;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: black;
}