<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Fanatico</title>
    <link th:href="@{/css/homeStyleArtist.css}" rel="stylesheet" />
</head>
<body>
<h1>Ingrese un nuevo fanatico</h1>


<form method="post" action="/artistas/ingresarFanatico" >


    <label>Nombre del Fanatico:</label>
    <input name="nombreFanatico" type="text" placeholder="Nombre del Fanatico" ><br/><br/>

    <label>Pais de Origen:</label>
    <input name="paisOrigen" type="text" placeholder="Pais del Fanatico" ><br/><br/>

    <label>Edad: </label>
    <input name="edad" type="number" placeholder="Edad del fanatico" ><br/><br/>

    <label>Fecha de registro: </label>
    <input name="fechaRegistro" type="date"  ><br/><br/>

    <label>Plataforma favorita: </label>
    <select name="plataforma" >
        <option value="SPOTIFY">SPOTIFY</option>
        <option value="YOUTUBE">YOUTUBE</option>
        <option value="APPLE_MUSIC">APPLE_MUSIC</option>
        <option value="DEEZER">DEEZER</option>
        <option value="AMAZON_MUSIC">AMAZON_MUSIC</option>
    </select><br/><br/>

    <button id="crear-fanatico" name="crear-fanatico" type="submit">Crear fanatico</button>

</form>

<br/>
<div class="botones-fanatico">
    <form method="get" action="/artistas">
        <button>Volver</button>
    </form>

    <form method="get" action="/artistas/verFanaticos">
        <button> Ver fanaticos</button>
    </form>
</div>
</body>
</html>