<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ver Fanaticos</title>
    <link th:href="@{/css/verArtistasStyle.css}" rel="stylesheet" />
</head>
<body>
<h1>Disqueras de los Fanaticos</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Fanatico</th>
    </tr>
    <tr>
        <td th:text="${fanatico.id}"></td>
        <td th:text="${fanatico.nombreFanatico}"></td>
    </tr>
</table>
<br />
<table>
    <tr>
        <th>Id</th>
        <th>Nombre Disquera</th>
        <th>Pais</th>
        <th>Fundacion</th>
    </tr>
    <th:block th:each="d : ${disqueras}">
        <tr>
            <td th:text="${d.id}"></td>
            <td th:text="${d.nombreDisquera}"></td>
            <td th:text="${d.pais}"></td>
            <td th:text="${d.fundacion}"></td>
        </tr>
    </th:block>
</table>
<br />
<form method="get" action="/artistas/verFanaticos">
    <button>Volver</button>
</form>
</body>
</html>