<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fanaticos de la disquera</title>
  <link th:href="@{/css/verArtistasStyle.css}" rel="stylesheet" />
</head>
<body>
<h1>Fanaticos de la Disquera</h1>
<table>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Pais De Origen</th>
    <th>Edad</th>
    <th>Fecha de Registro</th>
    <th>Plataforma Favorita</th>
  </tr>
  <th:block th:each="f : ${fanaticos}">
    <tr>
      <td th:text="${f.id}"></td>
      <td th:text="${f.nombreFanatico}"></td>
      <td th:text="${f.paisOrigen}"></td>
      <td th:text="${f.edad}"></td>
      <td th:text="${f.fechaRegistro}"></td>
      <td th:text="${f.plataforma}"></td>
    </tr>
  </th:block>

</table>
<br/><br/>
<form method="get" action="/artistas/listarArtistas">
  <button>Volver</button>
</form>
</body>
</html>