<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingresar nuevo artista</title>

<!--    <link href="/static/css/styleArtist.css" rel="stylesheet" />-->
    <link th:href="@{/css/styleArtist.css}" rel="stylesheet" />


</head>
<body>


<form th:action="@{/artistas/ingresar}" method="post" th:object="${dto}" class="mt-4">

    <!-- Artista -->
    <h1>Ingrese un nuevo artista</h1>

    <h2>Datos del artista</h2>

    <label>Nombre Artístico:</label>
    <input name="name" type="text" placeholder="Nombre del artista" th:field="*{nombreArtistico}" ><br/><br/>

    <label>Edad del artista: </label>
    <input name="edad" type="number" placeholder="Edad del artista" th:field="*{edad}" ><br/><br/>

    <label>Fecha de nacimiento: </label>
    <input name="fechaNacimiento" type="date"  th:field="*{fechaNacimiento}" ><br/><br/>


    <label>Nacionalidad:</label>
    <input name="nacionalidad" type="text" placeholder="Nacionalidad del artista" th:field="*{nacionalidad}" ><br/><br/>

    <label>Genero Musical del Artista: </label>
    <select name="Genero Musical" th:field="*{genero}">
        <option value="POP">POP</option>
        <option value="ROCK">ROCK</option>
        <option value="RAP">RAP</option>
        <option value="REGGAETON">REGGAETON</option>
        <option value="ELECTRONICA">ELECTRONICA</option>
        <option value="SALSA">SALSA</option>
        <option value="HIPHOP">HIPHOP</option>
    </select><br/><br/>


    <!--  DISQUERA -->

    <h1>Ingrese una nueva disquera</h1>

    <h2>Datos de la Disquera</h2>

    <label>Nombre de la Disquera:</label>
    <input name="name" type="text" placeholder="Nombre de la Disquera" th:field="*{nombreDisquera}" ><br/><br/>

    <label>País: </label>
    <input name="pais" type="number" placeholder="Pais de la Disquera" th:field="*{pais}" ><br/><br/>

    <label>Número de artistas: </label>
    <input name="numeroArtistas" type="number"  th:field="*{numeroArtistas}" ><br/><br/>


    <label>Fundación:</label>
    <input name="fundacion" type="date"  th:field="*{fundacion}" ><br/><br/>

    <label>Tipo de Contrato:</label>
    <select name="Tipo de Contrato" th:field="*{contrato}">
        <option value="EXCLUSIVO">EXCLUSIVO</option>
        <option value="DISTRIBUCION">ROCK</option>
        <option value="LICENCIA">LICENCIA</option>
        <option value="CONTRATO_360">CONTRATO_360</option>
    </select><br/><br/>


    <div class="botones">
        <button id="registro" name="registrar" type="submit">Registrar</button>
        <button id="btn-artista" name="Crear_Artista" type="submit">Crear solo un Artista</button>
    </div>

</form>


</body>
</html>