<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ver Fanaticos</title>
    <link th:href="@{/css/verArtistasStyle.css}" rel="stylesheet" />
</head>
<body>
<h1>Fanaticos</h1>
<table>
    <tr>
        <th>Nombre del Fanatico</th>
        <th>Pais De Origen</th>
        <th>Edad</th>
        <th>Fecha de Registro</th>
        <th>Plataforma</th>

    </tr>
    <th:block th:each="f : ${fanaticos}">
        <tr>
            <td th:text="${f.nombreFanatico}"></td>
            <td th:text="${f.paisOrigen}" ></td>
            <td th:text="${f.edad}"></td>
            <td th:text="${f.fechaRegistro}"></td>
            <td th:text="${f.plataforma}"></td>
        </tr>
    </th:block>

</table>
<br/>
<form method="get" action="/artistas/menuFanaticos">
    <button id="btn-volver">Volver Menu Fanaticos</button>
</form>
</body>
</html>